.molengo-regular {
  font-family: "Molengo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rubik-80s-fade-regular {
  font-family: "Rubik 80s Fade", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Molengo", sans-serif;
  background-color: black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 70vw;
    height: 100vh;
    border: 3px solid;
    background-color: #fdf9ff;
    margin: 0 auto;
    border: 3px solid black;
}

h1 {
  font-family: "Rubik 80s Fade", sans-serif;
  font-size: 70px;
  color: whitesmoke;
  margin: 0;
  padding-bottom: 20px;
}

.content-header {
    padding: 0px 50px 0px 50px;
}

.logo {
  width: 120px;
  height: auto;
}

.left-header {
    background-image: url("../sign-up-imgs/forest-sign-up.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 25vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.logo-band {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 150px auto 0;
    background-color: rgba(18, 18, 18, 0.628);
    padding: 16px;
    width: 100%;
}

.right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}


.user-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    padding: 0px 50px 0px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

label {
    font-size: 12px;
}

input {
    width: 240px;
    height: 25px;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

.user-info {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin-bottom: 30px;
    gap: 60px;
}

.submit-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0px 50px 0px 50px;
}

.user-input {
    display: flex;
    flex-direction: column;
}

#password:invalid {
    border: 2px solid red;
}

.has-account {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 10px;
}

button {
    width: 150px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: green;
    color: whitesmoke;
}